include /layout

.header.bg-primary.course-hero
  .text-center
    p
      img(src="assets/img/logo_white.png").logo
    h1
      span.name
        | Advocacy in Action
    p
      | <em>by the</em> National Kidney Foundation
    p
      a(href="#").button.radius.sign-up(data-reveal-id="email-signup")
        | Join the Cause 
        i.fi-torsos-all
    div#email-signup.reveal-modal(data-reveal)
      form
        input(placeholder="email", type="text")
        a(href="#").button.postfix-radius.postfix
          | submit
      a.close-reveal-modal
        | &#215;

.row.articles
  .large-12.columns
    article
      h3.title
        | Tis the Shopping Season: Add Health Insurance to Your List this Year!
      p.body
        | Whether you enrolled in an Affordable Care Act (ACA) health insurance marketplace plan last year, you’re looking for coverage for the first time, or you’ll be looking for health insurance in the near future, it’s very important that you shop around–new plans are now available in the ACA marketplace that were not available before and a plan that you enrolled in last year may have made changes to the services and medications covered and how they are covered.  Similarly, plans may have changed which healthcare practitioners are in their network.  All of these changes could affect how much you pay for your care and if you will be able to continue seeing your current practitioners.  You have until February 15th to enroll in coverage for next year, but only until today, December 15th if you want that coverage to begin on January 1st.
    hr
    article
      h3.title
        | Choosing Your Health Insurance Plan: Look Beyond the Premium
        p.body
          | Trying to find the best insurance coverage that meets your healthcare needs and won’t break your wallet?  This can be a daunting task.  Therefore, the National Kidney Foundation (NKF) offers basic tips to compare plans offered in the health insurance marketplaces to ensure you are receiving the healthcare services and medications you need to stay healthy.  Our Kidney Health Insurance Worksheet is designed to empower you to identify which healthcare services and medications you need and to compare plans that offer coverage of those services at the lowest cost.  This sheet will help you determine the real costs you will have to pay for your healthcare that go beyond your monthly premium price tag.
    hr
    article
      h3.title
        | Choosing Your Health Insurance Plan: Look Beyond the Premium
        p.body
          | Trying to find the best insurance coverage that meets your healthcare needs and won’t break your wallet?  This can be a daunting task.  Therefore, the National Kidney Foundation (NKF) offers basic tips to compare plans offered in the health insurance marketplaces to ensure you are receiving the healthcare services and medications you need to stay healthy.  Our Kidney Health Insurance Worksheet is designed to empower you to identify which healthcare services and medications you need and to compare plans that offer coverage of those services at the lowest cost.  This sheet will help you determine the real costs you will have to pay for your healthcare that go beyond your monthly premium price tag.
    hr
    article
      h3.title
        | Choosing Your Health Insurance Plan: Look Beyond the Premium
        p.body
          | Trying to find the best insurance coverage that meets your healthcare needs and won’t break your wallet?  This can be a daunting task.  Therefore, the National Kidney Foundation (NKF) offers basic tips to compare plans offered in the health insurance marketplaces to ensure you are receiving the healthcare services and medications you need to stay healthy.  Our Kidney Health Insurance Worksheet is designed to empower you to identify which healthcare services and medications you need and to compare plans that offer coverage of those services at the lowest cost.  This sheet will help you determine the real costs you will have to pay for your healthcare that go beyond your monthly premium price tag.
            
.row
  .large-12.columns
    .panel
      h4 Get in touch!
      .row
        .large-9.columns
          p We"d love to hear from you, you attractive person you.
        .large-3.columns
          a.radius.button.right(href="#") Contact Us
footer
  hr
  .row
    .large-12.columns
      .row
        .large-6.columns
          p &#169; Copyright no one at all. Go to town.
        .large-6.columns
          ul.inline-list.right.social
            li
              a(href="#")
                i.fi-social-facebook
            li
              a(href="#")
                i.fi-social-twitter
