include /layout

.detail.header.bg-primary
  img(src="assets/img/logo_white.png").logo.left
  .row
    .columns.large-12
      span.title
        span Advocacy in Action 
        em by the National Kidney Foundation
      a(href="#").right.button.radius.sign-up(data-reveal-id="email-signup")
        | Join the Cause 
        i.fi-torsos-all
