doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/style.css')
    //-link(rel='stylesheet', href='css/main.css')
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  body

    //- Add your site or application content here
    p Hello worldTST! This is HTML5 Boilerplate.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
    //-script(src='js/plugins.js')
    //-script(src='js/script.js')
    
    div.row
      div(class=['small-4', 'columns'])
        | this is a test
      div(class=['small-2', 'columns']) 
        | is a test
      div(class=['small-2', 'columns']) 
        | 22222
        
